<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<script src="/static/snow.js"></script>
    <title>Kinoteka Kalendar</title>
</head>

<style>
	img {
		width: 50px;
		height: 50px;
		vertical-align: bottom;
	}
</style>

<body>
	<div class="div-container">
		<h1 class="title">
			<img src="../static/profile_kinoteka.jpg">
			Kinoteka Kalendar
		</h1>
		<h4 class="subtitle">by <a href="https://lazic.xyz">voja</a></h4>
		<select class="main" onchange="location = this.value;">
			<option hidden disabled selected value>Izaberi mesec</option>
			{% for year in calendars.keys()  %}
			<optgroup label="{{ year  }}">
				{% for month in calendars[year] %}
				<option value="/{{ month[1] }}">{{ month[0] }}</option>
				{% endfor %}
			</optgroup>
			{% endfor %}
		</select>
	</div>
</body>
</html>
