<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--<link rel="stylesheet" href="/static/bootstrap.min.css" />-->
	<link rel="stylesheet" href="/static/style.css" />
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
	<!--<script src="/static/snow.js"></script>-->
    <title>Kinoteka Kalendar</title>
</head>
<body>
	<div class="table-container">

		<select class="absPos" onchange="location = this.value;">
			<option hidden disabled selected value>Izaberi mesec</option>
			{% for year in calendars.keys()  %}
			<optgroup label="{{ year  }}">
				{% for month in calendars[year] %}
					<option value="/{{ month[1] }}">{{ month[0] }}</option>
				{% endfor %}
			</optgroup>
			{% endfor %}
		</select>

		<h1 class="month-title">Program Kinoteke za {{ monthName }}.</h1>

		<table>
			<tr>
				{% for header in headings %}
				<th>{{ header }}</th>
				{% endfor %}
			</tr>
			{% for row in data %}
			<tr>
				{% for cell in row[0:-1] %}
					{% if loop.index == 1 and row|length == 5 %}
					<!-- veoma lenjo, nadji nesto bolje -->
						<td rowspan="{{row[-1]}}">{{ cell }}</td>
					{% else %}
						{% if row[-2] == "Uzun Mirkova" %}
							<td class="uzun">{{ cell }}</td>
						{% else %}
							<td class="kosovska">{{ cell }}</td>
						{% endif %}

					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>
